body
  color: #444
  font-family: 'circular'
  background: #eee
  padding-top: 85px
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.color-stripe
  width: 100%
  height: 2px
  background: #c6463d

.box
  background: #fff
  border-top: 1px solid #ddddd5
  border-bottom: 1px solid #ddddd5
  margin: 0 0 20px

  .box-heading
    color: #999
    font-weight: bold
    background: #f8f8f8
    border-bottom: 1px solid #ddddd5
    padding: 12px 20px

.box-padding
  padding: 20px

.snowflake-box
  text-align: center
  background: rgba(0,0,0,.05)
  border: 1px dashed rgba(0,0,0,.1)
  padding: 5px

  img
    margin: 0 auto


@media (min-width: 768px)
  .box
    border: 1px solid #ddddd5
    border-radius: 5px

    .box-heading
      border-radius: 5px 5px 0 0
  
  .box-padding
    padding: 25px

@media (min-width: 1200px)
  .card-row .col-lg-5ths
    width: 20%
    float: left