#header,
#mobile-header
  background: #fff
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.22)
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.22)

  .header-inner
    display: -webkit-flex
    display: -ms-flexbox
    display: flex

    .header-middle
      -webkit-flex: 1
      -ms-flex: 1
      flex: 1

      .search-bar
        width: 100%
        border: none
        outline: none

#header
  a.nav-btn,
  a.icon-btn,
  .dropdown
    float: left
    text-decoration: none

    &:hover
      cursor: pointer

  .nav-btn
    display: block
    color: #808080
    font-size: 14px
    line-height: 56px
    border-left: 1px solid rgba(0,0,0,.15)
    padding: 0 20px

    &:hover
      background: #f8f8f8

  .icon-btn
    color: #808080
    padding: 16px 16px

    &:hover
      color: #505050
      background: #f8f8f8

  .header-left
    .brand
      font-weight: bold
      border-left: 0

    .browse-btn
      border-left: 1px solid rgba(0,0,0,.15)
      border-right: 1px solid rgba(0,0,0,.15)

    .dropdown-menu
      left: auto

  .header-middle      
    .search-bar-holder
      position: relative

      i.material-icons
        color: #808080
        line-height: 56px
        position: absolute
        left: 20px
        top: 0px

      .search-bar
        height: 56px
        font-size: 14px
        padding: 10px 0 10px 54px

  .header-right
    .icon-btn
      border-left: 1px solid rgba(0,0,0,.15)


#mobile-header
  a
    display: block
    color: #808080
    text-align: center
    text-decoration: none
    padding: 13px 15px

    &:hover
      background: #f8f8f8
  
  .sidebar-btn
    border-right: 1px solid rgba(0,0,0,.15)

  .header-middle
    padding: 8px 10px

    .search-bar
      height: 34px
      text-align: center
      background: #eaeaea

  .header-right a
    float: left
    border-left: 1px solid rgba(0,0,0,.15)

#loginModal
  a
    color: #fff
    margin-bottom: 10px

  .btn-facebook
    background: #3B5998
    border-color: #2B4988
  .btn-twitter
    background: #55acee
    border-color: #459cde